@{
    ViewBag.Title = "Registration almost done";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Employee was created successfully. Confirmation code was sent to employee`s email.
    </p>
</div>
