@model MiYo.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3 ">
        </div>
        <div class="col-xs-10 col-sm-8 col-md-6 ">
            <div class="text-xs-center top">
                <h1 > Mentor in Your Office</h1>
                <!--<img src="img/Logo.JPG" class="img-thumbnail " alt="Logo">-->
            </div>
            <form class="form-signin" action="../Account/Login" method="post">
                @Html.AntiForgeryToken()
                <h2 class="form-signin-heading">Sign In</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input name="RememberMe" type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3">
        </div>
    </div>
</div>
<footer>
    <div class="container text-xs-center">
        <a href="#">
            <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter-square fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-skype fa-2x"></i>
        </a>
    </div>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}