@model MiYo.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container ">
    <div class="row">
        <div class="col-sm-2 col-md-3 "></div>
        <div class="col-sm-8 col-md-6 ">
            <div class="row">
                <div class="main-form mx-auto">
                    <form class="" method="post" action="/Account/Register">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-user fa-fw" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" name="firstName" id="name" placeholder="Enter User First Name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-users fa-fw" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" name="lastName" id="lastname" placeholder="Enter User Last Name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-envelope fa-fw" aria-hidden="true"></i>
                                </span>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Enter User Email" required/>
                            </div>
                        </div>

                        <!--Select role-->

                        <div class="form-group ">
                            <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 col-sm-2 col-md-3 "></div>
    </div>
</div>

<footer>
    <div class="container text-center">
        <a href="#">
            <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter-square fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="#">
            <i class="fab fa-skype fa-2x"></i>
        </a>
    </div>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}