@{
    ViewBag.Title = "Pair created";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>

        <hr />
        <p>
            Pairs were created successfully!
        </p>
    </div>
</div>