@*@model MiYo.Models.AdminRequestViewModel;*@
@{
    ViewBag.Title = "Incomming requests";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>

        <hr />
    </div>
</div>